/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2015, 3:12:42 PM
    Author     : akisoft
*/

.drug_list{
    border-bottom: 2px solid #eee; 
}
.test_list{
    border-bottom: 2px solid #eee; 
}
.report_doc_com{
    
}